<h1>პაროლის შეცვლა</h1>
<p>პაროლის შესაცვლელად შეიყვანეთ ახალი პაროლი და მისი დადასტურება.</p>
<% form_tag do -%>
	<label for="password">ახალი პაროლი:</label><br/>
	<%= password_field_tag :password, params[:password] %>
	<br/>
	<label for="password_confirmation">დადასტურება:</label><br/>
	<%= password_field_tag :password_confirmation, params[:password_confirmation] %><br/>
	<%= submit_tag "შეცვლა" %>
<% end -%>